@model MyBeerShop.Models.Beers.BeerViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="BeerName"></label>
                <input asp-for="BeerName" class="form-control" placeholder="Beer Name...">
                <span asp-validation-for="BeerName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer"></label>
                <input asp-for="Producer" class="form-control" placeholder="Producer...">
                <span asp-validation-for="Producer" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="Image URL...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="Price...">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CriticScore"></label>
                <input asp-for="CriticScore" class="form-control" placeholder="Critic Score...">
                <span asp-validation-for="CriticScore" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlcoholBV"></label>
                <input asp-for="AlcoholBV" class="form-control" placeholder="Alcohol BV...">
                <span asp-validation-for="AlcoholBV" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TestingNotes"></label>
                <textarea asp-for="TestingNotes" rows="4" class="form-control" placeholder="Testing Notes..."></textarea>
                <span asp-validation-for="TestingNotes" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Packaging"></label>
                <option value="" disabled selected>Select Packaging</option>
                <option value="Can">Can</option>
                <option value="Bottle">Bottle</option>
            </div>
            <div class="form-group">
                <label asp-for="BeerTypeId">Beer Type</label>
                <select asp-for="BeerTypeId" class="form-control">
                    <option value="">Select Beer Type...</option>
                    <option value="1">Abbey Ale</option>
                    <option value="2">Ale</option>
                    <option value="3">Brown Ale</option>
                    <option value="4">Dark Lager</option>
                    <option value="5">Golden Ale</option>
                    <option value="6">IPA</option>
                    <option value="7">Lager</option>
                    <option value="8">Pale Ale</option>
                    <option value="9">Pilsner</option>
                    <option value="10">Porter</option>
                    <option value="11">Sour Ale</option>
                    <option value="12">Specialty</option>
                    <option value="13">Stout</option>
                    <option value="14">Strong Ale</option>
                    <option value="15">Strong Lager</option>
                    <option value="16">Trappist</option>
                    <option value="17">Wheat Beer</option>
                    @foreach (var type in Model.BeerTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="BeerTypeId" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Save" />
        </form>
    </div>
</div>
