@model MyBeerShop.Models.Beers.BeerViewModel

@{
    ViewData["Title"] = "Add Beer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="my-4">Add Beer</h2>

@await Html.PartialAsync("_BeerFormPartial", Model)
