@model MyBeerShop.Models.Beers.BeerViewModel

@{
    ViewData["Title"] = "Edit Beer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Beer</h2>

@await Html.PartialAsync("_BeerFormPartial", Model)
