@{
    ViewData["Title"] = "About Us";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h2 class="mt-5">About Us</h2>
            <p class="lead">Welcome to Brew Ha-Ha!</p>
            <p class="text-muted">We are passionate about providing the finest selection of beers to our customers.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <img src="https://assets.editorial.aetnd.com/uploads/2014/01/gettyimages-1386915196.jpg?width=768" class="img-fluid rounded" alt="Brew Ha-Ha Store">
        </div>
        <div class="col-md-6">
            <h3>Our Story</h3>
            <p class="text-muted">Founded in 2024, Brew Ha-Ha strives to offer a diverse range of high-quality beers from around the world. Our mission is to create an exceptional beer shopping experience for enthusiasts and connoisseurs alike.</p>
            <p class="text-muted">We believe in quality, variety, and customer satisfaction. Whether you're a seasoned beer lover or just beginning your journey, Brew Ha-Ha is here to help you find the perfect brew.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto text-center">
            <h3>Our Mission</h3>
            <p class="text-muted">To deliver an unparalleled beer shopping experience by offering a wide selection of high-quality beers, exceptional customer service, and a welcoming community for all beer enthusiasts.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-lg-8 mx-auto text-center">
            <h3>Meet the Team</h3>
        </div>
        <div class="col-md-4 text-center mt-4">
            <img src="https://static01.nyt.com/newsgraphics/2020/11/12/fake-people/4b806cf591a8a76adfc88d19e90c8c634345bf3d/fallbacks/mobile-03.jpg" class="img-fluid rounded-circle mb-3" alt="Team Member">
            <h5>John Doe</h5>
            <p class="text-muted">Founder & CEO</p>
        </div>
        <div class="col-md-4 text-center mt-4">
            <img src="https://static01.nyt.com/newsgraphics/2020/11/12/fake-people/4b806cf591a8a76adfc88d19e90c8c634345bf3d/fallbacks/mobile-06.jpg" class="img-fluid rounded-circle mb-3" alt="Team Member">
            <h5>Jane Smith</h5>
            <p class="text-muted">Head Brewer</p>
        </div>
        <div class="col-md-4 text-center mt-4">
            <img src="https://i.seadn.io/gae/9eJi6ig_4-qI-Yz-LUR37ZIcyDVCqCSyo6BtuXDXZ1SWKGy2CS3ycNAT0TsI-_fPW3y7nb25_fc_KnN8AgNqyFKNPiLVPCJ2vDam?auto=format&dpr=1&w=1000" class="img-fluid rounded-circle mb-3" alt="Team Member">
            <h5>Emily Brown</h5>
            <p class="text-muted">Customer Relations</p>
        </div>
    </div>
</div>
