@{
    ViewData["Title"] = "Home";
}

<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">Brew Ha-Ha</h1>
                <a class="btn btn-primary" href="Beers/All">Shop Now</a>
            </div>
        </div>
    </div>
</header>
<section class="about-section text-center" id="about">
    <img class="img-fluid" src="~/assets/img/WeWantMore.jpg" alt="..." />
</section>
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="~/assets/img/beerbg.jpg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>Our Mission</h4>
                    <p class="text-black-50 mb-0">Welcome to Brew Ha-Ha, your one-stop destination for a wide selection of premium beers from around the world. Whether you're a beer enthusiast or just exploring different flavors, we've got something for everyone.</p>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/beerdrink.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Quality</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/thirsty-celebration-beer-glass-pouring-golden-refreshment-generated-by-ai.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Flavour</h4>
                            <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
